.product-view {
  /* border: 1px solid lime; */
  /* background-color: rgba(0,0,0, .2); */
  border-radius: .3rem;
  height: 90%;
  width: 90%;
  margin: auto;
  position: relative;
  top: -6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2em;
  padding: 2.4rem;
}

.product-view .product-card {
  /* border: 1px solid blue; */
  background-color: lime;
  flex: 1;
  height: 100%;
  width: 150%;
  margin: 0;
  padding: none;
}

.product-view .product-card button{
  display: none;
}

.product-view label {
  width: fit-content;
  position: absolute;
  right: .6rem;
  top: .3rem;
  padding: .6rem;
}

.product-view label:hover {
  text-decoration: underline;
}

.product-view label:active {
  text-decoration: underline;
}

#close-product-view {
  display: none;
}

.product-view .calendar {
  height: 100%;
  width: 66.66%;
  background-color: white;
  transform: skewY(6deg);
  border-radius: .3rem;
}