.input {
  margin: 0;
}

.input label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  padding: .6rem;
  border-radius: .2rem;
}

.input input:focus {
  outline: none;
  background: #e7e7e7;
  border-color: black;
}

label {
  color: white;
}