@keyframes fadeToScale {
  0% {
    /* transform: scaleY(0); */
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

	75% {
    opacity: 1;
		transform: scaleY(.1);
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: fit-content;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
  animation: fadeToScale 1s ease 0s 1 normal;
  flex: 1;
}

.fadeOut {
  animation: fadeOut 3s ease-out;
  display: none;
}

.back-button {
  background-color: transparent;
  border: none;
    width: 0;
      height: 0;
      border-top: 100px solid transparent;
      border-right: 50px solid black;
      border-bottom: 100px solid transparent;
      margin: auto 0;
}

.forward-button {
  background-color: transparent;
  border: none;
    width: 0;
      height: 0;
      border-top: 100px solid transparent;
      border-left: 50px solid black;
      border-bottom: 100px solid transparent;
      margin: auto 0;
}

.back-button:hover {
  border-right: 50px solid lime;
  transition: .15s ease-in all;
}

.back-button:active {
  border-right: 50px solid black;
  transform: scale(95%);
  transition: .15s ease-in all;
}

.forward-button:hover {
  border-left: 50px solid lime;
  transition: .15s ease-in all;
}

.forward-button:active {
  border-left: 50px solid black;
  transform: scale(95%);
  transition: .15s ease-in all;
}